*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/
.buildpath
.project
nbproject/

# Berkshelf
.vagrant
#/cookbooks
Berksfile.lock

# Bundler
Gemfile.lock
bin/*
.bundle/*
vendor/*

nodes/
clients/
vagrant_vms/

.chef/local-mode-cache
.kitchen/
.kitchen.local.yml
