*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/
.buildpath
.project

# Berkshelf
.vagrant
#/cookbooks
Berksfile.lock

# Bundler
Gemfile.lock
bin/*
.bundle/*
vendor/*

nodes/
clients/
environments/

.kitchen/
.kitchen.local.yml
