{
  "enabled" : ["forge"],
  "machines": {
    "builddocs": {
      "hostname": "build.docs.typo3.vagrant",
      "ipaddress": "10.4.17.9",
      "run_list": ["site-builddocstypo3org"],
      "attributes": {
      }
    },
    "forge": {
      "hostname": "forge.typo3.vagrant",
      "ipaddress": "10.4.17.5",
      "run_list": ["site-forgetypo3org"],
      "attributes": {
      }
    },
    "redmine": {
      "hostname": "redmine.typo3.vagrant",
      "ipaddress": "10.4.17.10",
      "run_list": ["redmine"],
      "attributes": {
        "redmine" : {
          "source": {
            "reference": "3.0-stable"
          }
        }
      }
    },
    "mq": {
      "hostname": "mq.typo3.vagrant",
      "ipaddress": "10.4.17.6",
      "run_list": ["site-mqtypo3org"],
      "attributes": {
      }
    },
    "review": {
      "hostname": "review.typo3.vagrant",
      "ipaddress": "10.4.17.7",
      "run_list": ["site-reviewtypo3org", "site-gittypo3org", "t3-gerrit::replication"],
      "fixation": true,
      "attributes": {
      }
    },
    "gerrit": {
      "hostname": "gerrit.typo3.vagrant",
      "ipaddress": "10.4.17.8",
      "run_list": ["gerrit"],
      "attributes": {
        "gerrit" : {
          "config" : {
            "gerrit" : {
              "canonicalWebUrl" : "https://gerrit.typo3.vagrant/"
            }
          }
        }
      }
    }
  }
}
